.footer {
    background: rgb(0, 68, 102);
    height: 15em;
    width: 100%;
    position: absolute;
    margin-top: 5em
    /* bottom: 0; */
}

.social__footer {
    text-align: center;
    margin-top: 3em;
}

.copy__right__cont {
    margin-top: 2em;
    border-top: 1px solid lightgray;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    color: white;
}

.copy__footer {
    margin-top: 2em;
    text-align: center;
    /* font-weight: bold; */
    /* font-size: 1.1em; */
    /* font-family: 'Times New Roman', Times, serif; */
}

.social--icon {
    margin-left: 0.5em;
    margin-right: 0.5em;
    color: white;
}

.social--icon:hover {
    color: rgb(0, 68, 140);
}

.fa-lg {
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
}